<% if(error_msg.length > 0){ %>
    <div class="error_msg" id="error_msg">
      <p><%= error_msg %></p> 
      <p onclick="document.getElementById('error_msg').remove()">&#10005;</p>
    </div>
<% } %>