<footer>
  <div class="footer-content">
    <div class="footer-mails">
      Пишите нам: 
      <p class="mail-address"><a href="mailto:example@example.com" class="mail-address">example@example.com</a></p>
      <p class="mail-address"><a href="mailto:example@example.com" class="mail-address">example@example.com</a></p>
      <hr>
      <p><a href="#">Вакансии</a></p>
      <p><a href="#">Рецепты</a></p>
    </div>
    <div class="footer-copyright">
      &copy; ООО 2020 &laquo;<a href="#">Ресторан</a>&raquo;
      <h3>Доставка</h3>
      <p>&#128222; <a href="tel:+1234567890"> +7 (???) ???-XX-? </a></p>
    </div>
  </div>
</footer>