<header>
    <div class="header-content">
        <a href="/">Наша компания</a>
        <div class="header-links">
          <a href="/reserve_table" class="header-services">Забронировать стол</a> &nbsp;
          <a href="/login" class="header-services"">Вход</a> &nbsp;
        </div>
    </div>
</header>