<!DOCTYPE html>
<html>
  <head>
  <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
     <div class="container">
      <h1>Привет, <% if(user){ %> <%- user.username %> <% } %> !</h1>
      <h2>Информация о заказах</h2>
      <div>
      </div>
     </div>
  </body>
</html>