<!DOCTYPE html>
<html>
  <head>
  <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container">
        <div class="jumbotron">
          <div class="jumbotron-content">
            <h1>Наша компания</h1>
            <p>Уютный ресторан</p>
          </div>
        </div>

        <div class="jumbotron-block">
            <h1>Приходите к нам, у нас есть:</h1>
        </div>

        <a href="#food-preview-1" id="food-preview-1-link"></a>
        <a href="#food-preview-2" id="food-preview-2-link"></a>
        <a href="#food-preview-3" id="food-preview-3-link"></a>

        <% [1,2,3,4].map(x=>{ %>
        <article class="card" onclick="document.getElementById('food-preview-1-link').click()">
          <a><img src="images/pizza.jpg" class="card_picture"/></a>
          <div class="contents">
            <h2>Пицца</h2>
            <p class="info"><b>1449 рублей</b>
            
            Колбаски Пепперони, сыр Моцарелла, томатный соус. 
            Станет приятным дополнением к вашему вечеру.</p>
          </div>
        </article>
        <article class="card" onclick="document.getElementById('food-preview-2-link').click()">
          <a><img src="images/food-1.jpg" class="card_picture"/></a>
          <div class="contents">
            <h2>Паста с курой и грибами</h2>
            <p class="info"><b>219 рублей</b>

              Феттуччине с копченой куриной грудкой, нежным сливочным соусом, репчатым луком и жареными грибами</p>
          </div>
        </article>
        <article class="card" onclick="document.getElementById('food-preview-3-link').click()">
          <a><img src="images/food-2.jpg" class="card_picture"/></a>
          <div class="contents">
            <h2>Паста Карбонара</h2>
            <p class="info"><b>229 рублей</b>

              Классическая итальянская паста с нежным беконом, репчатым луком и чесноком в сливочном соусе</p>
          </div>
        </article>
        <% }) %>
    
        <div class="jumbotron-block" style="margin-top: 30px;">
          <a class="button-default" href="/reserve_table">Забронировать столик</a>
      </div>

      <div id="food-preview-1" class="modal">
        <div class="modal-content">
          <a href="#close" title="Close" class="close">×</a>
          <div class="modal-body">
            <img class="picture" src="images/pizza.jpg" alt="Картинка с пиццой">
            <h3 class="modal-title">Пицца</h3>
            <p class="info">1449 рублей
  
              Колбаски Пепперони, сыр Моцарелла, томатный соус. 
              Станет приятным дополнением к вашему вечеру.</p>
          </div>
        </div>
      </div>

      <div id="food-preview-2" class="modal">
        <div class="modal-content">
          <a href="#close" title="Close" class="close">×</a>
          <div class="modal-body">
            <img class="picture" src="images/food-1.jpg" alt="Картинка с пастой">
            <h3 class="modal-title">Паста с курой и грибами</h3>
            <p class="info">219 рублей

              Феттуччине с копченой куриной грудкой, нежным сливочным соусом, репчатым луком и жареными грибами.

              Белки: 5.5 гр., жиры: 22.6 гр., углеводы: 14.4 гр. / 283 кКал</p>
          </div>
        </div>
      </div>

      <div id="food-preview-3" class="modal">
        <div class="modal-content">
          <a href="#close" title="Close" class="close">×</a>
          <div class="modal-body">
            <img class="picture" src="images/food-2.jpg" alt="Картинка с супом">
            <h3 class="modal-title">Паста Карбонара</h3>
            <p class="info">229 рублей

              Классическая итальянская паста с нежным беконом, репчатым луком и чесноком в сливочном соусе

              Белки: 5.5 гр., жиры: 22.6 гр., углеводы: 14.4 гр. / 283 кКал</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>