<!DOCTYPE html>
<html>
  <head>
  <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container">
        <div style="margin-top:32px">
          <h1>Забронировать столик</h1>

          <form method="post" style="border: 1px solid #e4e4e4; width:50%;">
            Время: <div>
              <button>10:00</button>
              <button>11:00</button>
              <button>12:00</button>
              <button>13:00</button>
              <button>14:00</button>
              <button>20:00</button>
            </div>
            Дата: <input type="date" name="" id=""> <br>
            Кол-во персон: <input type="number" name="" id="" value=1> <br>
            Комментарий: <br> <textarea name="" id="" cols="30" rows="4" placeholder="Пожелания к брони"></textarea><br><br>
            <input type="submit" value="Забронировать">
          </form>
        </div>
    </div>
  </body>
</html>