<!DOCTYPE html>
<html>
  <head>
  <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container columns2">
        <div style="margin-top:32px">
          <h1>Забронировать столик</h1>

          <form method="post" class="form" action="/reserve_table">
            Зал: 
            <fieldset class="form__room_type-container">
              <input
                type="radio"
                name="room_type"
                class="form__radio-room_type"
                id="room_type-1"
                value="Домашний"
                checked
              />
              <label class="form__label-room_type" for="room_type-1" tabindex="0">
                <span class="form__room_type-name">Домашний</span>
              </label>
    
              <input
                type="radio"
                name="room_type"
                class="form__radio-room_type"
                id="room_type-2"
                value="Восточный"
              />
              <label class="form__label-room_type" for="room_type-2" tabindex="0">
                <span class="form__room_type-name">Восточный</span>
              </label>
    
              <input
                type="radio"
                name="room_type"
                class="form__radio-room_type"
                id="room_type-3"
                value="VIP"
              />
              <label class="form__label-room_type" for="room_type-3" tabindex="0">
                <span class="form__room_type-name">VIP</span>
              </label>

              <input
                type="radio"
                name="room_type"
                class="form__radio-room_type"
                id="room_type-4"
                value="Музыкальный"
              />
              <label class="form__label-room_type" for="room_type-4" tabindex="0">
                <span class="form__room_type-name">Музыкальный</span>
              </label>
            </fieldset>

            <fieldset class="tables__grid">
              <input type="radio" name="table-radio" class="table__radio" id="table1" value="Столик 1" checked/>
              <label class="table__label" for="table1" tabindex="0"><span class="form__room_type-name">Столик 1</span></label>
              <input type="radio" name="table-radio" class="table__radio" id="table2" value="Столик 2"/>
              <label class="table__label" for="table2" tabindex="0"><span class="form__room_type-name">Столик 2</span></label>
              <input type="radio" name="table-radio" class="table__radio" id="table3" value="Столик 3"/>
              <label class="table__label" for="table3" tabindex="0"><span class="form__room_type-name">Столик 3</span></label>
              <input type="radio" name="table-radio" class="table__radio" id="table4" value="Столик 4"/>
              <label class="table__label" for="table4" tabindex="0"><span class="form__room_type-name">Столик 4</span></label>
              <input type="radio" name="table-radio" class="table__radio" id="table5" value="Столик 5"/>
              <label class="table__label" for="table5" tabindex="0"><span class="form__room_type-name">Столик 5</span></label>
              <input type="radio" name="table-radio" class="table__radio" id="table6" value="Столик 6"/>
              <label class="table__label" for="table6" tabindex="0"><span class="form__room_type-name">Столик 6</span></label>
              <input type="radio" name="table-radio" class="table__radio" id="table7" value="Столик 7"/>
              <label class="table__label" for="table7" tabindex="0"><span class="form__room_type-name">Столик 7</span></label>
              <input type="radio" name="table-radio" class="table__radio" id="table8" value="Столик 8"/>
              <label class="table__label" for="table8" tabindex="0"><span class="form__room_type-name">Столик 8</span></label>
              <input type="radio" name="table-radio" class="table__radio" id="table9" value="Столик 9"/>
              <label class="table__label" for="table9" tabindex="0"><span class="form__room_type-name">Столик 9</span></label>
            </fieldset>
          
            Дата: <input type="date" name="date" id="">
            <nobr>Время: <input type="time" name="time" id="" min="08:00" max="23:00">
            Кол-во персон: <input type="number" name="persons" id="" value=1></nobr>
            Комментарий: <br> <textarea name="additional" id="" cols="30" rows="4" placeholder="Пожелания к брони" style="resize:none;"></textarea> <br>
            <input type="submit" value="Отправить заявку" class="form__button-reserve">
          </form>
        </div>
        <div class="container-2columns-imagecol">
          <img src="images/reserve-table-bg-1.jpg" id="restourant-image" alt="Фотография зала" style="width:85%; border-radius:10px;">
        </div>
        </div>
    </div>
    <script type="text/javascript">
      var image = document.getElementById("restourant-image");
       document.getElementById("room_type-1").onchange = function(){
         image.src = "images/reserve-table-bg-1.jpg"
       }
       document.getElementById("room_type-2").onchange = function(){
         image.src = "images/reserve-table-bg-2.jpg"
       }
       document.getElementById("room_type-3").onchange = function(){
         image.src = "images/reserve-table-bg-3.jpg"
       }
       document.getElementById("room_type-4").onchange = function(){
         image.src = "images/reserve-table-bg-4.jpg"
       }
     </script>
  </body>
</html>