<!DOCTYPE html>
<html>
  <head>
  <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container columns2">
        <div style="margin-top:32px">
          <h1>Забронировать столик</h1>

          <form method="post" class="form" action="/reserve_table">
            Зал: 
            <fieldset class="form__room_type-container">
              <input
                type="radio"
                name="room_type"
                class="form__radio-room_type"
                id="room_type-1"
                value="Домашний"
                checked
              />
              <label class="form__label-room_type" for="room_type-1" tabindex="0">
                <span class="form__room_type-name">Домашний</span>
              </label>
    
              <input
                type="radio"
                name="room_type"
                class="form__radio-room_type"
                id="room_type-2"
                value="Восточный"
              />
              <label class="form__label-room_type" for="room_type-2" tabindex="0">
                <span class="form__room_type-name">Восточный</span>
              </label>
    
              <input
                type="radio"
                name="room_type"
                class="form__radio-room_type"
                id="room_type-3"
                value="VIP"
              />
              <label class="form__label-room_type" for="room_type-3" tabindex="0">
                <span class="form__room_type-name">VIP</span>
              </label>

              <input
                type="radio"
                name="room_type"
                class="form__radio-room_type"
                id="room_type-4"
                value="Караоке"
              />
              <label class="form__label-room_type" for="room_type-4" tabindex="0">
                <span class="form__room_type-name">Караоке</span>
              </label>
            </fieldset>
            Дата: <input type="date" name="date" id="">
            Время: <input type="time" name="room" id="">
            Кол-во персон: <input type="number" name="persons" id="" value=1>
            Комментарий: <br> <textarea name="additional" id="" cols="30" rows="4" placeholder="Пожелания к брони" style="resize:none;"></textarea> <br>
            <input type="submit" value="Отправить заявку" class="form__button-reserve">
          </form>
        </div>
        <div class="container-2columns-imagecol">
          <img src="images/reserve-table-bg-1.jpg" id="restourant-image" alt="Фотография зала" style="width:85%; border-radius:10px;">
        </div>
        </div>
    </div>
    <script type="text/javascript">
      var image = document.getElementById("restourant-image");
       document.getElementById("room_type-1").onchange = function(){
         image.src = "images/reserve-table-bg-1.jpg"
       }
       document.getElementById("room_type-2").onchange = function(){
         image.src = "images/reserve-table-bg-2.jpg"
       }
       document.getElementById("room_type-3").onchange = function(){
         image.src = "images/reserve-table-bg-3.jpg"
       }
       document.getElementById("room_type-4").onchange = function(){
         image.src = "images/reserve-table-bg-4.jpg"
       }
     </script>
  </body>
</html>