<!DOCTYPE html>
<html>
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <div class="container">
      <form class="auth-form" method="post">
        <h1>Восстановить пароль</h1>
        <label for="email">Почта:</label> <input class="auth-form__input" type="text" name="email" />
        <br />
        <input type="submit" class="button-default-s" value="Восстановить" />
      </form>
      <br>
      <a href="login" style="margin-left: 26%;">Назад</a> <br><br>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
