body{
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

header{
  font-family: 'Raleway';
  font-size: 32px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(218, 218, 218);
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
  color: #777c83;
  user-select: none;
  height: 64px;
  display:flex;
}

header a{
  text-decoration: none;
  color: black;
}

.header-content{
  margin-left:auto;
  margin-right:auto;
  width:70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo{
 font-weight: bold; 
}

.header-links{
  font-size: 16px;
  color: #525252;
}
.header-links a:hover{
  color: red;
}

.container{
  position: relative;
  padding-top: 64px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.container-2columns-imagecol{
  margin-top: 32px; 
  align-self: center; 
  display: flex; 
  justify-content: center;
}

.card{
  display: inline-block;
  border: 1px solid #b0b0b0;
  height: 385px;
  width: 240px;
  background-color: white;
  border-radius: 10px;
  vertical-align: top;
  overflow: hidden;
  margin: 20px 10px;
  transition: box-shadow 0.35s, transform 0.35s;
}

.card:hover {
  box-shadow: 0 0 5px 1px #000000;
  transform: scale(1.05);
}

/* Содержимое карточки*/
.card .contents{
  padding: 10px;
  padding-left: 10px;
}

.card_picture{
  height: 40%;
  padding: 0px;
}

.card h2{
  margin-top: 0px;
  margin-bottom: 10px;
}

.contents p{
  color: #525252;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 14px;
}

.info{
  white-space: pre-line;
  word-wrap: break-word;
}

.auth_form{
  background-color: beige;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
}

.columns2{
  display: grid; 
  grid-template-columns: 1fr 1fr;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid #e4e4e4;
}

.form input[type=number], .form input[type=date], .form input[type=time]{
  height: 50px;
  border: 1px solid #cfcfcf;
  background-color: #ebf0f5;
}

.form textarea{
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #cfcfcf;
  background-color: #ebf0f5;
}

.form__button-reserve {
  margin-top: 15px;
  height: 64px;
  border: none;
  border-radius: 8px;
  background: #ffcc00;
  font: inherit;
  font-size: 24px;
  width: 75%;
  font-weight: bold;
}

.form__label-room_type {
  background-color: #ebf0f5;
  cursor: pointer;
  display: flex;
  flex: 1;
  text-align: center;
}

.form__room_type-container {
  height: 54px;
}

.form__radio-room_type:checked + .form__label-room_type {
  background-color: rgb(255, 235, 160);
  border: 0px;
}

.form__radio-room_type {
  display: none;
}

.form__room_type-container {
  border: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.form__room_type-name {
  margin: auto;
}

.form__room_type-container {
  height: 54px;
}

.table_reservation_card{
  border: 1px solid #e4e4e4;
  padding: 5px;
  width: 75%;
  margin:0 auto;
  margin-top: 10px;
}
.table_reservation_card button{
  margin-top: 5px;
  height: 48px;
  border: none;
  border-radius: 5px;
  background: #ffcc00;
  font: inherit;
  font-size: 16px;
}
.table_reservation_card button:hover{
  background: #b89300;
}
.table__radio{
  display:none;
}
.table__cell{
  border: 1px solid rgb(190, 190, 190);
}
.table__radio:checked + .table__label {
  background-color: rgb(255, 235, 160);;
}
.tables__grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 21px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  padding:0;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1337;
  visibility: hidden;
  pointer-events: none;
  margin: 0;
  padding: 0;
  background: rgba(0,0,0,0.95);
}
.modal:target {
  visibility: visible;
pointer-events: auto;
  overflow-y: auto;
}
.modal-content {
  position: relative;
  margin: 30px auto;
  max-width: 60%;
  width: auto;
  top: 25%;
  color: white;
  font-family: Arial;
  font-size: 20px;
  border: 1px solid rgba(0,0,0,.2);
  outline: 0;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
}
.close {
  float: right;
  font-family: sans-serif;
  font-size: 72px;
  color: white;
  text-shadow: 0 1px 0 #ccc;
  opacity: .5;
  text-decoration: none;
  user-select: none;
}
.close:focus, .close:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}
.modal-body {
  overflow: auto;
}
.modal-body img{
  float: left;
  margin-right: 50px;
  user-select: none;
}

@media only screen and (max-width: 800px) {
  .header-content{
    width: 100%;
  }
  .container-2columns-imagecol{
    display: none;
  }
  .columns2{
    display: block;
  }
}

@media only screen and (max-width: 1280px) {
  .container{
      position: relative;
      padding-top: 64px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
  }
}